<div class="piano checkbox">
  <span class="pull-right">
    <strong id="playCount"><%= count %></strong> <span id="pianoPlural">pianos</span> played
  </span>
  <label>
    <input type="checkbox" id="hide" name="hide">
    <strong>Hide Played Pianos</strong>
  </label>
</div>
