$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-size-base: 18px;

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid lightgray;
}

/* Custom page footer */
.footer {
  font-size: 60%;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.piano {
  @include clearfix;
  border-top: 1px dashed #e5e5e5;
  padding-top: 13px;
  padding-bottom: 7px;
  .glyphicon {
    font-size: 1.5em;
  }
}
